html,
body {
	margin: 0;
	padding: 0;
	background-color: yellowgreen;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
canvas {
	display: block;
}

.thanks {
	color: bisque;
	font-size: x-large;
	position: absolute;
	font-family: "Niconne", cursive;
	top: -12%;
	left: 50%;
	transform: translate(-50%);
}

.download {
	color: purple;
	font-size: x-large;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%);
}

.myButton {
	box-shadow: inset 0px 1px 0px 0px #fff6af;
	background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color: #ffec64;
	border-radius: 6px;
	border: 1px solid #ffaa22;
	display: inline-block;
	cursor: pointer;
	color: #333333;
	font-family: Arial;
	font-size: large;
	font-weight: bold;
	padding: 6px 10px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffee66;
}
.myButton:hover {
	background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color: #ffab23;
}
.myButton:active {
	position: relative;
	top: 1px;
}
